
body {
	margin: 0px;
  background-color:rgba(243, 157, 77, 1);
  left:auto;
  right: auto;
  width:100%;
  margin-left:0;
  margin-right:0;
  text-align:left;
  position: relative;
}

* {
    box-sizing: border-box;
}

#readerName {
	color: black;
	top: 15px;
	left: 100px;
	position: relative;
	opacity: 0;
	font-family: 'American Typewriter';
	font-size: 18px;
	font-variant: 'Medium';
}

.supposedNextPage{
	background-color: #F3F3F3;
	width: 22.5%;
	height: 100%;
	top: 0px;
	right: -80px;
	position: relative;
	box-shadow: -2px 0px 6px rgba(105, 104, 104, 0.349019607843137);
	-moz-box-shadow:-2px 0px 6px rgba(105, 104, 104, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 6px rgba(105, 104, 104, 0.349019607843137);
  border-radius: 5px;
  opacity: 0;
  z-index: 0;
}

.topLinks {
	font-family: 'American Typewriter';
	font-size: 14px;
	font-style: 'American Typewriter';
	font-variant: 'Regular';
	color: black;
	position: relative;
	top: 39px;
	opacity: 0;
}

#NJIT {
	position:absolute;
  	left:258px;
  	top:0px;
  	width:577px;
  	height:288px;
  	font-family:'Courier', 'Courier';
  	font-weight:400;
  	font-style:normal;
  	font-size:240px;
  	white-space:nowrap;
  	opacity: 0;
}

.userNavBarRight {
	background-color: rgba(243, 157, 77, 1);
	width: 22.5%;
	height: 100%;
	top: 0px;
	right: -80px;
	position: absolute;
	box-shadow: -2px 0px 6px rgba(105, 104, 104, 0.349019607843137);
	-moz-box-shadow:-2px 0px 6px rgba(105, 104, 104, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 6px rgba(105, 104, 104, 0.349019607843137);
  border-radius: 5px;
  opacity: 0;
  z-index: 1;
}

#LIBRARY {
	position:absolute;
  	left:625px;
  	top:425px;
  	width:270px;
  	height:77px;
  	font-family:'Courier', 'Courier';
  	font-weight:400;
  	font-style:normal;
  	font-size:64px;
  	opacity: 0;
}

.userSideBar {
	background-color: #F6F6F6;
	width: 22.5%;
	height: 100%;
	top: 0px;
	left: 80%;
	position: absolute;
	/*box-shadow: -2px 0px 6px rgba(105, 104, 104, 0.349019607843137);
	-moz-box-shadow:-2px 0px 6px rgba(105, 104, 104, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 6px rgba(105, 104, 104, 0.349019607843137);*/
  border-radius: 5px;
  opacity: 0;
  z-index: 1;
}

input[type="text"] {
	font-family: 'Courier';
	font-size: 14px;
	height: 30px;
	border:none;
	vertical-align: middle;
	background-color: inherit;
}
*:focus {
	outline: none;
}
input[type="password"] {
	display: block;
	background-color: inherit;
	font-family: 'Courier';
	font-size: 14px;
	height: 30px;
	vertical-align: middle;
	border:none;
}


input[type="submit"] {
	font-family: 'Courier';
	font-size: 13px;
	background-color: black;
	color: white;
	top: 150px;
	left: 80px;
	height: 50px;
	position: relative;
  	width:150px;
	border-radius: 5px;
	border:none;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder {  /*Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /*Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  

}

/*#cardDiv {
	border-color: black;
	border-width: 1px;
	border-radius: 5px;
	height: 30px;
	border-style: solid;	
	position: absolute;
	top: 100px;
	left: 65px;
	margin-left: auto;
	margin-right: auto;
	width: 187;
}*/

.textBox {
	border-color: black;
	border-width: 1px;
	border-radius: 5px;
	height: 30px;
	border-style: solid;	
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 187;
}

/*#adminPassDIV {
	border-color: black;
	border-width: 1px;
	border-radius: 5px;
	height: 30px;
	border-style: solid;	
	position: absolute;
	top: 434;
	left: 65;
	margin-left: auto;
	margin-right: auto;
	width: 187;
}*/

#firstSubmit {
	top: 180;
	left: 89;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

#secondSubmit {
	top: 522;
	left: 89;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

button {
	font-family: 'Courier';
	font-size: 13px;
	background-color: black;
	color: white;
	position: absolute;
  	width:150px;
	border-radius: 5px;
	border:none;
}

#horizontalLine {
	margin-top: 256px;
	width: 200;
	margin-right: auto;
	margin-left: auto;
	border-top: 1px solid #000000;
}

#searchBox{
	position: absolute;
	background-color: #D8D8D8;
	border-radius: 5px;
	top: 15px;
	right: 70px;
	height: 30px;
	width: 187;
}

#top {
	position: absolute;
	left: 30%;
	top: 10%;
}

#branchDiv {
	position: absolute;
	background-color: #D8D8D8;
	border-radius: 5px;
	top: 0px;
	right: 20px;
	height: 30px;
	width: 187;
}

#mostborrowed {
	top: 50px;
	left: 250px;
	position: relative;
	font-family: 'Courier'
}

.tops {
	position: absolute;
	opacity: 0.0;
	left: 25%;
	top: 10%;
}

#searchButton {
	position: absolute;
	right: 2%;
	top: 15px;
	height: 35px;
	width: 35px;
	border-radius: 15px;
	background-color: inherit;
	background-repeat: no-repeat;
	background-image: url('search.svg');
}

#logoutButton {
	position: absolute;
	left: 80%;
	top: 24px;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-image: url('logout.svg');
}

#sectionNavigation {
	position: absolute;
	border-color: inherit;
	background-color: inherit;
	border-width: 0px;
	box-shadow: 0px;
	color: black;
	font-size: 16px;
	left: 20%;
	display: flex-block;
}
.docAdditionClass {
	font-family: 'Courier';
	font-size: 13px;
	position: absolute;
	top: 40px;
	left: 30%;
	background-color: inherit;
	display: inline-block;
	z-index: 1;
}

.readerViewClass {
	font-family: 'Courier';
	font-size: 13px;
	position: absolute;
	top: 40px;
	left: 30%;
	background-color: inherit;
	display: inline-block;
	z-index: 1;	
}

select {
	width: 185px;
	height: 30px;
	border: none;
	background-color: inherit;
}

.branchViewClass {
	font-family: 'Courier';
	font-size: 13px;
	position: absolute;
	top: 40px;
	left: 30%;
	background-color: inherit;
	display: inline-block;
	z-index: 1;
}

.addReaderClass {
	font-family: 'Courier';
	font-size: 13px;
	position: absolute;
	top: 40px;
	left: 30%;
	background-color: inherit;
	display: inline-block;
	z-index: 1;
}
